[submodule "External Repos/Light Panda (Headless Browser)"]
	path = External Repos/Light Panda (Headless Browser)
	url = https://github.com/lightpanda-io/browser.git
[submodule "External Repos/LLM-Council"]
	path = External Repos/LLM-Council
	url = https://github.com/karpathy/llm-council.git
