[submodule "External Repos/Light Panda (Headless Browser)"]
	path = External Repos/Light Panda (Headless Browser)
	url = https://github.com/lightpanda-io/browser.git
[submodule "External Repos/LLM-Council"]
	path = External Repos/LLM-Council
	url = https://github.com/karpathy/llm-council.git
[submodule "External Repos/PRD"]
	path = External Repos/PRD
	url = https://github.com/snarktank/ai-dev-tasks.git
[submodule "External Repos/Graphify"]
	path = External Repos/Graphify
	url = https://github.com/Graphify-Labs/graphify.git
[submodule "External Repos/Ponytail"]
	path = External Repos/Ponytail
	url = https://github.com/DietrichGebert/ponytail.git
[submodule "External Repos/Agent Skills"]
	path = External Repos/Agent Skills
	url = https://github.com/addyosmani/agent-skills.git
[submodule "External Repos/Caveman"]
	path = External Repos/Caveman
	url = https://github.com/JuliusBrussee/caveman.git
